* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #f3f3f3;
	font-family: 'Open Sans', sans-serif;
	background: url(img/imagen.png);
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}
audio{
	padding: 5px 5px 5px 5px;
	margin-left: auto;
}

a {
	outline: none;
	text-decoration: none;
	padding: 0px 1px 0;
  }
  
  a:link {
	color: rgba(0,0,0,1);
  }
  
  a:visited {
	color: rgba(0,0,0.1);
  }
  
  a:focus {
	border-bottom: 1px solid;
	background: rgba(0, 0, 0, 0.253);
  }
  
  a:hover {
	font-size:15px;
	color:rgba(0,20,0.9);
  }
  
/*+++++++++++++++*/
.boton-descarga{
	
	margin-left:20px;
	border-radius: 5px;
	
	
}
.contenedor {
	width: 90%;
	max-width: 800px;
	margin: auto;
}

.cara {
	border-radius: 10px;
	height: 25vw;

}

.uno {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: calc(90vh - 65px);
	background-color: #303030;
	color: white;

}

.caja-central {
	margin-top: 10%;
	width: 50%;
	display: flex;
	flex-direction: row;
	border-radius: 20px;
	overflow: hidden;
	height: 50%;
}

.caja-cara {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	background-color: #424242;
}

.caja-presentacion {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2vw;
	width: 60%;
	background-color: #f2f2f2;
	color: #303030;
	padding: 10px;
}

/* HEADER */
/* ------------------------- */

header {
	padding: 40px 0;
}

header .logo {
	text-align: center;
	margin-bottom: 40px;
}

header .logo p {
	color: #9B9B9B;
}

header form {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

header .barra-busqueda {
	width: 70%;
	height: 40px;
	line-height: 40px;
	background: #fff;
	padding: 0 20px;
	border-radius: 100px;
	border: none;
	text-align: center;
	font-size: 16px;
}



/* ------------------------- */
/* Grid */
/* ------------------------- */

.grid {
	position: relative;
	width: 100%;
	opacity: 0;
	transition: opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas {
	opacity: 1;
}

.grid .item {
	position: absolute;
	display: block;
	padding: 0;
	margin: 10px;
	width: calc(33.333333% - 20px);
}

.grid .item-contenido {
	position: relative;
}

.grid .item img {
	width: 100%;
	cursor: pointer;
	vertical-align: top;
	border-radius: 10px;
	
}

/* ------------------------- */
/* Overlay */
/* ------------------------- */
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.9);
	width: 100%;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.overlay.activo {
	display: flex;
}

.overlay img {
	max-width: 100%;
}

.overlay .descripcion {
	display: block;
	background: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 5px;
	border-radius: 10px;
	max-width: 50%;
}

.contenedor-img {
	position: relative;
}

.overlay #btn-cerrar-popup {
	background: none;
	font-size: 20px;
	color: #fff;
	border: none;
	cursor: pointer;
	position: absolute;
	right: -20px;
	top: -20px;
}

/* ------------------------- */
/* Footer */
/* ------------------------- */
footer .redes-sociales {
	display: flex;
	align-content: center;
	justify-content: center;
	padding: 20px;
	flex-wrap: wrap;
}

footer .redes-sociales a {
	display: block;
	width: 60px;
	height: 60px;
	background: #000;
	color: #fff;
	margin: 20px;
	text-align: center;
	border-radius: 100px;
	transition: .3s ease all;
}

footer .redes-sociales .youtube {background: #df3400;}
footer .redes-sociales .facebook {background: #3b5998;}
footer .redes-sociales .instagram {background: #c13584;}

footer .redes-sociales a i {
	font-size: 20px;
	line-height: 60px;
}

footer .contenedor-icono:hover a {
	animation: icono .5s ease;
}

@keyframes icono {
	from {
		transform: rotate3d(0,0,0,0);
	}
	to {
		transform: rotate3d(0,1,0, 360deg);
	}
}

footer .creado-por {
	margin-bottom: 40px;
	text-align: center;
	font-size: 14px;
	color: #c13584;
}

footer .creado-por a {color: #000;}
footer .creado-por a:hover {text-decoration: underline;}

/* ------------------------- */
/* Mediaqueries */
/* ------------------------- */
@media screen and (max-width: 700px) {
	.grid .item {
		width: calc(50% - 20px);
	}

	header .barra-busqueda {
		width: 100%;
	}
}